{% schema %}
  {
    "name": "fourOfour",
    "class": "fourOfour-section",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "404 Page Not Found"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "The page you requested does not exist. Click here to continue shopping."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "404 image"
      }
    ]
  }
{% endschema %}

<section class="page page-top">
  <div class="wrapper">
    <header class="content-util">
    {% include 'breadcrumb' %}
    </header>
    <header class="page-header">
      <h1>{{ section.settings.header }}</h1>
    </header>
  </div>
</section>

<section class="page">
  <div class="wrapper">
    <div class="error_image"> 
      <img src="{{section.settings.image | img_url: 'large' }}"}}></div>
    </div>
    <div class="content-container narrow rte centered">
      <p>{{ section.settings.description }}</p>
    </div>
  </div>
</section>

<style>
  .page {
    border-bottom: none;
  }
  .error_image {
    width: 260px;
    margin: 0px auto 10px;
  }
</style>