{% schema %}
  {
    "name": "Social Proof",
    "class": "social-proof-section",
    "settings": [
      {
        "type": "color",
        "id": "turnpup_bottom_border_color",
        "label": "Bottom Border Color",
        "default": "#F4B237"
      }
    ],
    "presets": [
      {
        "name": "Social Proof",
        "category": "Advanced layout",
        "blocks": [

        ]
      }
    ]
  }
{% endschema %}

<div class="social-proof" data-section-id="{{ section.id }}" data-section-type="social-proof-section">
  <div class="quote-slider">
    <div class="actual-quote">
      <svg width="33" height="27" viewBox="0 0 33 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.820312 21.4437C0.820312 25.6437 1.22032 26.0437 5.12032 26.0437H10.4203C14.0203 26.0437 14.5203 25.5437 14.5203 22.0437V15.8437C14.5203 12.5437 14.1203 12.1437 11.4203 11.9437C9.92032 11.9437 9.42032 11.2437 9.42032 9.44368C9.42032 7.04368 10.5203 5.54368 13.2203 4.44368C14.2203 4.04367 14.5203 3.54367 14.5203 2.54368C14.5203 1.04368 13.6203 0.143677 12.1203 0.143677C8.92031 0.143677 6.22032 1.34367 4.12032 3.64367C1.92032 6.04368 0.820312 9.74368 0.820312 14.9437V21.4437ZM18.8203 21.4437C18.8203 25.6437 19.2203 26.0437 23.1203 26.0437H28.4203C32.0203 26.0437 32.5203 25.5437 32.5203 22.0437V15.8437C32.5203 12.5437 32.1203 12.1437 29.4203 11.9437C27.9203 11.9437 27.4203 11.2437 27.4203 9.44368C27.4203 7.04368 28.5203 5.54368 31.2203 4.44368C32.2203 4.04367 32.5203 3.54367 32.5203 2.54368C32.5203 1.04368 31.6203 0.143677 30.1203 0.143677C26.9203 0.143677 24.2203 1.34367 22.1203 3.64367C19.9203 6.04368 18.8203 9.74368 18.8203 14.9437V21.4437Z" fill="#14433D"></path>
      </svg> 
    </div>
    <div class="social-slick">    
        <div class="quote">The best knobs I've ever used.</div>
        <div class="quote">My favorite home accessory.</div>
        <div class="quote">The best way to dress up your kitchen and not spend a fortune.</div>			
    </div>
  </div>
</div>
<style>
  .quote-slider {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: rgba(214,237,223,0.5);
  }
  .actual-quote {
    max-width: 64rem;
    margin: 0 auto 2rem;
    text-align: center;
  }
  .social-slick .quote {
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
    font-family: 'p22-mackinac-pro', serif;
    font-weight: 600;
  }
  .social-slick .slick-dots {
    margin-top: 2rem;
    position: relative;
    top: 0px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }
  .slick-dots li button {
    margin-right: 0.5rem;
    height: 0.5rem;
    width: 1rem;
    cursor: pointer;
    border-radius: 1.5rem;
    background-color: rgba(255,255,255);
  }
  .slick-dots li.slick-active button:before {
    opacity: 0;
  }
  .slick-dots li button:before {
    opacity: 0;
  }
  .slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 0;
  }
  .social-slick .slick-dots li.slick-active button {
    background-color: rgba(165,195,182);
  }
  
  @media screen and (max-width: 700px) {                       
    .social-slick .quote {
      font-size: 24px;
    }
    .quote-slider {
      padding: 3rem 2rem 3rem;
    }
    .actual-quote {
      max-width: 90%;
      margin: 0 auto 2rem;
      text-align: center;
    }
  }
</style>
<script type="text/javascript">
</script>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
